.home-page {
    height: 100vh;
    display: block;
}

.titulo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: start;
    margin-top: 10%;
}

.p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-justify: left;
    color: white;
    text-align: center;
    margin-top: 10px;
}


.boton {
    background-color: #ff0080;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #c70064;
}