@import url('https://fonts.cdnfonts.com/css/tt-octosquares-trl');
.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

.titulo {
    font-family: 'TT Octosquares Trl', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    color: #D3A54C;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}
.p {
    font-family:'TT Octosquares Trl Cnd', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-top: 0;
}

.boton {
    background-color: #ff0080;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    width: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #c70064;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 1.5rem;
    }
    .p {
        font-size: 2rem;
    }
    .boton {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}