body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.quiz-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.quiz-question {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-options {
    display: flex;
    justify-content: center; /* Center the buttons */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width */
    list-style-type: none;
    padding: 0;
}

.quiz-options li {
    cursor: pointer;
    width: 150px; /* Increased width for larger buttons */
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px; /* Increased font size for better visibility */
}

.quiz-options li.true {
    background-color: blue;
    color: white;
}

.quiz-options li.false {
    background-color: red;
    color: white;
}

.quiz-options li:hover {
    opacity: 0.8;
}

.selected {
    opacity: 0.6;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}